.elementor-kit-5{--e-global-color-primary:#606943;--e-global-color-secondary:#000000;--e-global-color-text:#C2C8A1;--e-global-color-accent:#FFFFFF;--e-global-typography-primary-font-family:"Benzin";--e-global-typography-primary-font-size:55px;--e-global-typography-primary-font-weight:600;--e-global-typography-primary-line-height:1em;--e-global-typography-secondary-font-family:"Roboto";--e-global-typography-secondary-font-size:35px;--e-global-typography-secondary-font-weight:900;--e-global-typography-secondary-line-height:1.2em;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-size:18px;--e-global-typography-text-font-weight:400;--e-global-typography-text-line-height:1.5em;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-size:18px;--e-global-typography-accent-font-weight:500;--e-global-typography-accent-line-height:1.5em;background-color:var( --e-global-color-secondary );}.elementor-kit-5 button:hover,.elementor-kit-5 button:focus,.elementor-kit-5 input[type="button"]:hover,.elementor-kit-5 input[type="button"]:focus,.elementor-kit-5 input[type="submit"]:hover,.elementor-kit-5 input[type="submit"]:focus,.elementor-kit-5 .elementor-button:hover,.elementor-kit-5 .elementor-button:focus{background-color:var( --e-global-color-accent );color:var( --e-global-color-secondary );border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-accent );border-radius:0px 0px 0px 0px;}.elementor-kit-5 e-page-transition{background-color:#FFBC7D;}.elementor-kit-5 a{color:var( --e-global-color-accent );}.elementor-kit-5 a:hover{color:var( --e-global-color-text );}.elementor-kit-5 button,.elementor-kit-5 input[type="button"],.elementor-kit-5 input[type="submit"],.elementor-kit-5 .elementor-button{font-size:12px;color:var( --e-global-color-accent );border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-accent );border-radius:0px 0px 0px 0px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:820px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */html, body {
    overflow-x: hidden;
}

/*Decorative elements*/

.has-tail-left,
.has-tail-right{
	position: relative;
}
.has-tail-left::before {
	content: '';
  display: inline-block;
  width: 70px;
  height: 100%;
  position: absolute;
  left: -70px;
  top: 0;
  background-color: #333333;
  transform: skew(0, -55deg);
  transform-origin: top right;
}
.has-tail-left--big::before{
    left: -130px;
}
.has-tail-left--big::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    background-color: #333333;
}
.has-tail-right::after{
	content: '';
  display: inline-block;
  width: 70px;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #333333;
  transform: skew(0, 55deg);
  transform-origin: top left;
}
.has-tail-right--big::after{
    left: calc( 100% + 60px );
}
.has-tail-right--big::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #333333;
}

.has-tail-left--green::before,
.has-tail-left--green::after,
.has-tail-right--green::after,
.has-tail-right--green::before{
    background-color: #606943;
}

.has-tail-left--light-green::before,
.has-tail-left--light-green::after,
.has-tail-right--light-green::after,
.has-tail-right--light-green::before{
    background-color: #C2C8A1;
}

.has-tail-left--blue::before,
.has-tail-left--blue::after,
.has-tail-right--blue::after,
.has-tail-right--blue::before{
    background-color: #636C86;
}

@media screen and (max-width: 1024px) {
    .has-tail-right--blue::before {
        display: none;
    }
    .has-tail-left::before {
        left: -40px;
    }
    .has-tail-left--green::before,
    .has-tail-left--light-green::before {
        left: -10px;
    }
    .has-tail-left--big::after,
    .has-tail-right--big::before {
        width: 0 !important;
    }
    .has-tail-right--big::after{
        left: 100% !important;
    }
    
    .has-tail-left::before,
    .has-tail-right::after {
        width: 40px !important;
    }
}

@media screen and (max-width: 820px) {
    .has-tail-left--green::before,
    .has-tail-left--light-green::before,
    .has-tail-left--blue::before {
        left: -40px;
    }
    .has-tail-right--blue::after {
        display: none;
    }
    .has-tail-right--blue::before {
        display: block;
    }
}


/*Modal popup*/

.modal-trigger-button {
    cursor: pointer;
}

.modal-popup {
    color: #FFFFFF;
    font-size: 16px;
    padding: 70px 50px 50px;
    height: auto;
    max-height: 500px;
    width: 90%;
    max-width: 700px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2E2E30;
    overflow: hidden;
    z-index: 1000;
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #606943;
}
.modal-popup.is-opened {
     visibility: visible;
    opacity: 1;
}
.modal-popup h3 {
    color: #C2C8A1;
    font-size: 18px;
    font-weight: 900;
    line-height: 130%; 
    text-transform: uppercase;
}
.modal-popup ol,
.modal-popup ul{
    margin-bottom: 24px;
}
.modal-popup li {
    margin-bottom: 16px;
}

.close-modal {
    font-family: "Benzin", Sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 25px;
    color: #C2C8A1;
    cursor: pointer;
}

.modal-backdrop {
    display: block;
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
}

.modal-backdrop .elementor-widget-container {
    display: none;
}

.modal-backdrop.is-opened {
     visibility: visible;
    opacity: 1;
}

.modal-popup .elementor-widget-container {
    height: 100%;
    max-height: 370px;
    overflow: auto;
    padding: 0 20px;
}

@media screen and (max-width: 760px) {
    .modal-popup {
        padding: 45px 10px 35px;
    }
    
    .close-modal {
        top: 10px;
        right: 17px;
    }
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Benzin';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('/wp-content/uploads/2023/11/Benzin-Regular.woff2') format('woff2'),
		url('/wp-content/uploads/2023/11/Benzin-Regular.woff') format('woff'),
		url('/wp-content/uploads/2023/11/Benzin-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Benzin';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('/wp-content/uploads/2023/11/Benzin-Bold.woff2') format('woff2'),
		url('/wp-content/uploads/2023/11/Benzin-Bold.woff') format('woff'),
		url('/wp-content/uploads/2023/11/Benzin-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Benzin';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('/wp-content/uploads/2023/11/Benzin-Medium.woff2') format('woff2'),
		url('/wp-content/uploads/2023/11/Benzin-Medium.woff') format('woff'),
		url('/wp-content/uploads/2023/11/Benzin-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Benzin';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('/wp-content/uploads/2023/11/Benzin-ExtraBold.woff2') format('woff2'),
		url('/wp-content/uploads/2023/11/Benzin-ExtraBold.woff') format('woff'),
		url('/wp-content/uploads/2023/11/Benzin-ExtraBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */